<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">

                <div class="col">
                    <img src="assets/goal1.png" />
                    <p>Harry Potter, <span>JK Rowling</span></p>
                    <button class="btn btn-primary">Borrow</button>
                </div>
                <div class="col">
                    <img src="assets/goal1.png" />
                    <p>Harry Potter, <span>JK Rowling</span></p>
                    <button class="btn btn-primary">Borrow</button>
                </div>
                <div class="col">
                    <img src="assets/goal1.png" />
                    <p>Harry Potter, <span>JK Rowling</span></p>
                    <button class="btn btn-primary">Borrow</button>
                </div>
                <div class="col">
                    <img src="assets/goal1.png" />
                    <p>Harry Potter, <span>JK Rowling</span></p>
                    <button class="btn btn-primary">Borrow</button>
                </div>
                <div class="col">
                    <img src="assets/goal1.png" />
                    <p>Harry Potter, <span>JK Rowling</span></p>
                    <button class="btn btn-primary">Borrow</button>
                </div>
                <div class="col">
                    <img src="assets/goal1.png" />
                    <p>Harry Potter, <span>JK Rowling</span></p>
                    <button class="btn btn-primary">Borrow</button>
                </div>

            </div>
        </div>
        <div class="col">
            <aside>
                <a href="/new-library" class="nav-link btn btn-primary">Start a library</a>
                <a href="/new-book" class="nav-link btn btn-primary">Add a book</a>
            </aside>
        </div>
    </div>

</div>