<div class="container">
    <div class="row">
        <div class="col"><button class="btn btn-primary" routerLink="/edit-profile">Edit Profile</button>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <img src="{{profile.profile_picture}}" alt="Profile Pic" srcset="">
                    <ul class="list-group">
                        <li class="list-group-item"> First Name: {{profile.first_name}}</li>
                        <li class="list-group-item"> Last Name: {{profile.last_name}}</li>
                        <li class="list-group-item">Bio: {{profile.bio}}</li>
                        <li class="list-group-item">Address: {{profile.address}}</li>
                        <li class="list-group-item">Email: {{profile.email}}</li>
                        <li class="list-group-item">Date Joined: {{profile.date_joined | date}}</li>
                        <li class="list-group-item">Phone Number: {{profile.phone_number}}</li>
                        <li class="list-group-item">Username: {{profile.username}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>